<?xml version="1.0" encoding="UTF-8"?>
<config>

    <!-- ── Conducteur ── -->
    <conducteur>
        <id>1</id>
    </conducteur>

    <!-- ── Base de données ── -->
    <database>
        <host>servrc.diskstation.me</host>
        <port>3306</port>
        <user>Marie</user>
        <password>OCV5Ms!43T(9DJTF</password>
        <name>Attention_conducteur</name>
    </database>

    <!-- ── Détection yeux ── -->
    <detection>
        <max_ear>0.35</max_ear>
        <closed_threshold>0.15</closed_threshold>
        <alert_duration>2.0</alert_duration>
        <print_interval>0.5</print_interval>
    </detection>

    <!-- ── Envoi base de données ── -->
    <recording>
        <send_interval>1.0</send_interval>
    </recording>

    <!-- ── Alerte sonore ── -->
    <sound>
        <enabled>true</enabled>
        <file>/home/edouard/Documents/Eyes_recognition/Sounds/BMW Warning Chime.mp3</file>
    </sound>

    <!-- ── Capteur cardiaque MAX30102 ── -->
    <heart_rate>
        <enabled>true</enabled>           <!-- true / false pour activer le capteur -->
        <i2c_bus>1</i2c_bus>              <!-- I2C1 = GPIO2/GPIO3 -->
        <int_pin>23</int_pin>             <!-- GPIO23 = pin INT du J5 -->
        <alert_bpm_low>50</alert_bpm_low>   <!-- alerte si BPM en dessous -->
        <alert_bpm_high>120</alert_bpm_high> <!-- alerte si BPM au dessus -->
    </heart_rate>

</config>
